@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply bg-primary;
  }
  .passed {
    @apply text-gruv-light-yello;
  }

  .not-active,
  .active {
    @apply text-primary-2;
  }
}
/* Hide the scrollbar and prevent scrolling */
#theMainDiv {
  overflow: hidden;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

/* Hide the scrollbar in Chrome/Safari */
#theMainDiv::-webkit-scrollbar {
  display: none;
}
